<div id="<%= dom_id delivery %>">
  <p>
    <strong>First name:</strong>
    <%= delivery.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= delivery.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= delivery.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= delivery.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= delivery.email %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= delivery.weight %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= delivery.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= delivery.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= delivery.height %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= delivery.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= delivery.destination %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= delivery.distance %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= "%0.2f" % delivery.price %>
  </p>


</div>
